header, nav{
/*    background: rgba(144,195,46,.4);*/
    background: #222;
    color: rgba(154,179,35,1);
}

header a, nav a {
    color: beige; 
/*    color: rgba(154,179,35,1);*/
}

.current_page a{ color: #222;}
.current_page a:hover{ color: #555;}

.claim_alert , .claim_alert_client {     
    color: #eee;
}

.notes_container{
    background: #222;
    color: #eee;
}
.notes_container ul li a { color: #ddd;}