body { color: #eee; }
header, nav{
/*    background: rgba(144,195,46,.4);*/
    background: #222;
    color: rgba(154,179,35,1);
}

header a, nav a {
    color: beige; 
/*    color: rgba(154,179,35,1);*/
}

h1, h2 { color: #8DBF2D;}

.current_page a{ color: #222;}
.current_page a:hover{ color: #555;}

.claim_alert , .claim_alert_client {     
    color: #eee;
}
.alert_node { color: #222;}

.notes_container, .stats, .half_dashboard{
    background: #222;
    color: #eee;
}
.notes_container a, .item_content a, .notes_container .small_link, .stats a, .half_dashboard a { color: #90C32E;}
.notes_container ul li a { color: #ddd;}