/*#004800  Used for headings
#90C32E  Used for panel backgrounds
#333333  Used for text
#387929 */


/*   LARHEA: CHANGE ANYTHING YOU NEED TO, THIS WAS JUST FOR ENOUGH STRUCTURE FOR TESTING */
body{
    font-size: 18px; 
    font-family: 'Nunito', sans-serif;
    font-weight: 100; 
    color: purple;
    margin: 0;
}

/*COLORS: color:
#004800;
rgba(154,179,35,1);
rgba(144,195,46,.4);
*/
 /*-----------------------------------------------*/
 /*Header Area On Every Page*/
nav { 
/*    CHANGE ANYTHING YOU NEED TO, THIS WAS JUST FOR ENOUGH STRUCTURE FOR TESTING */
    /*    background: rgba(144,195,46,.4);*/
    background: #eee;
    width: 200px;
    padding: 20px;
    float: left;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    
} 

header { 
    background: #eee;
    height: 60px; 
    /*padding: 10px;*/
    float:right;
    position: fixed;
    top: 0;
    left:240px;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #90C32E;
}  


.account_links {
    width:50%;
}

.search_container {
    width:50%;
}

.search input[type="submit"]{
    width:60px; 
    height:60px;
    background:#90C32E;
}
.search input[type="submit"]:hover{
    background: #eee;
}

.search input[type='search'] {
    width:75%; 
    height:60px;
    border-right:1px solid #90C32E;
    background-color: #eee;
}

.search input {
    float:left;
}
    .search input:nth-of-type(2) {
        margin-right: 20px;
    }






/*-----------------------------------------------*/
.current_page{
    background:white;
}

#page_name { 
    position: relative; 
    top: -30px; left: 30px;
    font-weight: 900;
    font-size: 22px;
}


#page{margin-left: 300px; margin-top: 120px;}
footer{
    clear: both;
    position: absolute;
    bottom: 0;
} 
.center{
    margin: 0 auto;
    text-align: center;
}/*
.left{float: left;}
.right{float: right;}*/
  
 
input,textarea {
    border:none;
    outline:none;
}
 
.links:hover{cursor: pointer;}


input[type="submit"]:hover{
    cursor: pointer;
    /*padding: 5px;*/
    border-radius: 5px;
}

input[type="submit"]{ 
    cursor: pointer;
    font-size: 20px;
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}


input[type="file"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px; 
    color: black;
}

input[type="file"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
 

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

 

 


/******************************
        /MEDIA QUERIES
*******************************/


@media(max-width: 1000px) {
    body{}
    nav{}
    
}

 
/*MOBILE DEVICES ONLY*/
@media only screen and (max-device-width: 800px) {
    body{}
    nav{}
 
}