/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
/*---------------------------------------------------------------*/




/*#004800  Used for headings
#90C32E  Used for panel backgrounds
#333333  Used for text
#387929 */


/*   LARHEA: CHANGE ANYTHING YOU NEED TO, THIS WAS JUST FOR ENOUGH STRUCTURE FOR TESTING */
body{
    font-size: 18px; 
    font-family: 'Nunito', sans-serif;
    font-weight: 100; 
    color: #333;
    margin: 0;
    margin-right: 100px;
    /*background-color: #eee;*/
}

/*COLORS: color:
#004800;
rgba(154,179,35,1);
rgba(144,195,46,.4);
*/
 /*-----------------------------------------------*/
h1 {
	font-size: 2em;
	font-weight: 700;
	color:#004800;
	text-align: center;
}


a {
	color:#90C32E;
}

a:hover {

}





/*.wrapper {
    margin:0 auto;
    max-width: 1500px;
    width:100%;
}*/

 /*Header Area On Every Page*/
nav { 
/*    CHANGE ANYTHING YOU NEED TO, THIS WAS JUST FOR ENOUGH STRUCTURE FOR TESTING */
    /*    background: rgba(144,195,46,.4);*/
    background: #eee;
    width: 250px;
    /*padding: 20px;*/
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    color:#333;
    font-size: 1em;
    
} 

	nav a {
		color:#333;
		text-decoration: none;
	}

	nav ul > li {
		padding: 15px 20px;
		font-weight:400;
	}

	nav ul li ul li {
		padding:5px 15px;
		font-weight: 300;
	}
	nav ul li ul li:nth-of-type(1) {
		padding-top:15px;
	}
	/*nav ul li ul li a:active {
		border-left:3px solid #90C32E;
		background-color: #333
		color:#90C32E;
	}*/

	.current_page ul li a:active {
		color:#90C32E;
	}

.logo_user {
	text-align: center;
	padding-bottom:20px;
	border-bottom: 1px solid #e1e1e1
}
.logo_user img{
	margin: 20px 0;
}

header { 
    background: #eee;
    height: 60px;
    position: fixed;
    top: 0;
    left:250px;
    /*max-width: 2000px;*/
    width: calc(100% - 250px);
    z-index: 999;
    border-bottom: 1px solid #90C32E;
}  

    header > div {
        float:left;
    }

.account_links {
    width:15%;
    /*height:60px;*/
}
    .account_links >div {
    	min-width: 60px;
        width:50%;
        color:#333;
        padding:5px;
        height:60px;
        float:left;
        /*border-left: 1px solid #90C32E;*/
        text-align: center;
    }

.search_container {
    width:85%;
}

.search input[type="submit"]{
    width:60px; 
    height:60px;
    background:#90C32E;
    border:none;
}
.search input[type="submit"]:hover{
    background: #eee;
}

.search input[type='search'] {
	width:95%;
    width:calc(100% - 60px); 
    height:60px;
    border-right:1px solid #90C32E;
    background-color: #eee;
    border:none;
}

.search input {
    float:left;
}
    /*.search input:nth-of-type(2) {
        margin-right: 20px;
    }*/



/*-----------------------------------------------*/

.current_page{
    background:white;
}

#page_name { 
    position: relative; 
    top: -30px; left: 30px;
    font-weight: 900;
    font-size: 22px;
}


#page{margin-left: 300px; margin-top: 120px;}
footer{
    clear: both;
    position: absolute;
    bottom: 0;
} 
.center{
    margin: 0 auto;
    text-align: center;
}/*
.left{float: left;}
.right{float: right;}*/
  

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

 
input,textarea {
    border:none;
    outline:none;
}
 


/*-------------------------------------------------*/
/*Inventory Page FORM Styling*/
.add_item {
	width:900px;
	margin:0 auto;
}


.add_item input,textarea,select {
    width:100%;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

.add_item input[type="submit"]:hover{
    cursor: pointer;
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #90C32E;

}

.add_item input[type="submit"]{ 
    cursor: pointer;
    font-size: 20px;
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}


.add_item input[type="file"]:hover{
    cursor: pointer;
    padding: 5px;
    border-radius: 5px; 
    color: black;
}

.add_item input[type="file"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    color: black;
}
 





/*-------------------------------------------------*/
/*Isobel Sandbox : TEMPORARY FOR VISIBILITY DURING PRE-STYLED DEVELOPMENT :  CAN DELETE!! */

.notes_container{
    /* Used in 'claim_details.php' in multiple places */
    border: 1px solid grey;
    padding: 30px;
    margin: 10px;
}

h2 {	font-size: 2em;
	font-weight: 700;
	color:#004800;}

h3 {
    color: firebrick;
    font-size: 1.5em;
}
 
input[type="text"]{ 
    background:#eee;
    padding: 5px;
    border:1px solid #555;
    font-weight: 900;
    margin: 5px;
}

.fa-trash-o { color:red;}
.fa-trash-o:hover { color:grey;}

.fake_status{
    text-align: center;
    background-color: #90C32E;
    padding: 10px;
    border-radius: 10px;
}

#current_status { 
    background: red; 
    color: white; 
    font-weight: 900; 
    padding: 5px;  
}

 

input[type="checkbox"]{
   width: 50px;

}
 

#scrollbox{
/* USED IN read_message.php */
    height: 400px;
    overflow: scroll;
}













/******************************
        /MEDIA QUERIES
*******************************/


@media(max-width: 1000px) {
    body{}
    nav{}
    
}

 
/*MOBILE DEVICES ONLY*/
@media only screen and (max-device-width: 800px) {
    body{}
    nav{}
 
}