/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
/*-----------------------------------------------*\
	END OF CSS RESET
\*------------------------------------------------*/

.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}

.fancybox-title-over-wrap > div {
    padding: 10px;
}




 /*-----------------------------------------------*\
	GLOBAL STYLING - a, p, h1-h6, forms, etc.
\*------------------------------------------------*/

/*COLORS:
#004800
#90C32E  Used for panel backgrounds
#333333  Used for text
#387929 
rgba(154,179,35,1);
rgba(144,195,46,.4);
*/


body{
    font-size: 18px; 
    font-family: 'Nunito', sans-serif;
    font-weight: 100; 
    color: #333;
    margin: 0;
    margin-right: 100px;
    background-color: #fafafa;
}

h1,h2,h3,h4,h5,h6 {
	text-transform: capitalize;
}

h1 {
	font-size: 3em;
	font-weight: 700;
	color:#004800;
/*	text-align: center;*/
	margin-bottom: 50px;
}

h2 {font-size: 2em;
	font-weight: 700;
	color:#004800;}

h3 {
	color:firebrick;
    font-size: 1.5em;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.3em;
    padding:10px 0;
}

h5 {
	/*color:#004800;*/
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color:#90C32E;
}

a:hover{ 
	color: orange;
}

p {
	padding:2.5px 0;
	line-height: 1.3em;
}

ul li, ol li {
	padding: 5px 0;
	text-transform: capitalize;
}

li a {
	color:#333;
}

strong {
	font-weight: 600;
}


button {
	outline:none;
	border:none;
	width:auto;
	padding:10px;
	background-color:#90C32E;
	border-radius: 5px;
	color:#333; 

}
button a {
	color:#333;
	/*font-weight: 600;*/
	font-size: 1.2em;
}

button:disabled{
	font-size: 20px;
    padding: 7px 20px;
    border:none;
    border-radius: 5px;
    width:auto;
    background-color: #eee;
    color:#ccc;
    margin-top: 35px;
}


/*CUSTOM RADIO AND CHECKBOX STYLING*/
input[type="radio"], 
input[type="checkbox"] { 
    display:none;
}

#update_claim{
    display:inline;
}

input[type="radio"] + label:before, 
input[type="checkbox"] + label:before { 
    content:'';  
    display: inline-block; 
    position:relative;
    top:0.15em;
    left:0px;
    background-image: url('../img/umr_icons.png');
    height:25px;
    width:30px;
    background-position: 0px 0px;   
}

/*positioning for the checkboxes*/
input[type="checkbox"] + label:before {
    background-position: 0 0px;
} 
input[type="checkbox"]:checked + label:before {
    background-position: 0 -25px; 
}


/*Postitioning for the radio button*/
input[type="radio"] + label:before {
    background-position: 0 -50px;
    top:0.15em;
    left:5px;
}
input[type="radio"]:checked + label:before {
    background-position: 0 -75px; 
}


/*GENERAL FORM STYLING*/
input,textarea,select {
    width:100%;
    padding: 7px 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin: 10px 0 20px 0;
    outline:none;
    font-weight: 300;
    font-style:italic;
}

textarea {
	max-width: 900px;
	resize:vertical;
}


label {
	margin-bottom: 20px;
	text-transform: capitalize;
	padding-right: 25px;
}

input[type="submit"], .green_submit, .red_submit{ 
    cursor: pointer;
    font-size: 20px;
    padding: 7px 20px;
    border:none;
    border-radius: 5px;
    width:auto;
    background-color: #90C32E;
    color:#333;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
    margin-top: 35px;

}

input[type="file"]{ 
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
    border:none;
    color: #333;
    font-size: 1em;
}

input[type="file"]:hover{
    
}



.red_submit{ background-color: firebrick; color: #eee; }
.green_submit:hover{ color:#eee;}

input[type="submit"]:hover{
    box-shadow: inset 0 0 15px #62851F;
}


input[type="submit"] ~ a {
	margin-left: 25px;
	color:#a6a6a6;
	font-size: 1em;
	font-weight: 300;
	text-decoration: underline;
}


::-webkit-scrollbar{
	width: 10px;  /* for vertical scrollbars */
  	height: 10px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
 	border-radius: 10px;
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  	background: rgba(205, 30, 220, 0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  	background: rgba(154,179,35,.5);
}

.left{float: left;}
.right{float: right;}


.content_wrapper {
	max-width:1300px;
	width:100%;
	margin:10px auto;
	position: relative;
    left: 30px;
}


/*MILK LOGO AT BOTTOM OF EVERYPAGE - NEEDS SOME WORK*/
.milk {
	/*margin-top: 35px;*/
	width:175px;
	margin:50px auto;
	/*position: absolute;
	bottom:-100px;
	left:40%;*/
    
/*    Isobel's ghetto fix */
    margin-top: 400px;
}

.milk img{
	width:175px;
}


.large_link {
	font-weight: 600;
	font-size:1.2em;
}



.dark_link {
	color:#333;
	padding-right: 15px;
	margin-bottom: 20px;
	/*font-weight: 400;*/
}

.dark_link .fa{
	color: #90C32E;
}

.dark_link .fa-times {
	color:red;
}

.notes_container .small_link {
	font-size: 1em;
	color:#333;
	font-weight: 400;
	position: relative;
}

.new_alert {
	width:12px;
	height:12px;
	border-radius: 6px;
	background-color: #90C32E;
	position: absolute;
	top:0px;
	right:-30px;

}


/*add hover state for small link*/


.text_left {
	text-align: left;
	width:50%;
	float:left;
	padding: 0 20px 10px 20px;
}
.text_right {
	text-align: right;
	float:left;
	width:50%;
	padding: 0 20px 10px 20px;
}

img {
	max-width: 900px;
}



.red {
    color:red;
}

.blue {
    color:blue;
}

.green {
    color:green;
}

.green a{
    color:limegreen;
}

.yellow {
    color:gold;
}

.orange {
    color:orange;
}

.black {
    color:black;
}

.alert_message {
	text-align: center;
	padding:10px 0;
}
	/*.alert_message a {
		font-size: 1.2em;
	}*/

.disabled {
	color: #ccc;
	font-weight: 400;
	font-size: 1.2em;
}
	.disabled .fa {
		color:#ccc;
	}


/*---------------------------------------------*\
		LOGIN PAGE AND CREATE NEW USER
\*---------------------------------------------*/

.login_wrapper {
	max-width: 500px;
	width:85%;
	margin:0 auto;
	text-align: center;
	padding:35px 0;
	position: relative;
}

	.login_wrapper form {
		text-align: left;
	}

	.login_wrapper h2 {
		font-weight: 400;
		color:#333;
		font-size: 1.5em;
		margin-bottom: 35px;
	}

	.login_wrapper h3 {
		margin-top: 35px;
		color:#333;
		text-align: left;
	}

#loginform {
	margin-bottom: 50px;
}








/*---------------------------------------------*\
		HEADER AREA AVAILABLE ON EVERYPAGE
\*---------------------------------------------*/


/*NAV IS SIDEBAR AREA*/
nav { 
    background: #e5e5e5;
    width: 250px;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    color:#333;
    font-size: 1em;    
}


	nav a {
		color:#333;
		text-decoration: none;
	}

	nav a:hover {
		color:#90C32E;
	}

	nav ul > li {
		padding: 15px 20px;
		font-weight:400;
	}

	nav ul ul {
		list-style-position: inside;
	}

	nav ul li ul li {
		padding:7px 15px;
		font-weight: 300;
	}

	nav ul li ul li:nth-of-type(1) {
		margin-top:5px;
	}

	.sub_page a {
		color:#90C32E;

	}

	.current_page {
		padding:15px 20px 15px 17px;
		background:#fafafa;
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		border-left:5px solid #90C32E;
	}

	nav h4 {
		text-align: center;
	}


.logo_user {
	text-align: center;
	padding-bottom:20px;
	border-bottom: 2px solid #e1e1e1;
}

.logo_user img{
	margin: 20px 0;
}




/*HEADER IS SEARCH BAR AND TOP NAV LINKS*/
header { 
    background: #e5e5e5;
    height: 60px;
    position: fixed;
    top: 0;
    left:250px;
    width: calc(100% - 250px);
    z-index: 999;
}  

    header > div {
        float:left;
    }

.account_links {
    width:140px;
    /*margin-left: .85em;*/
}
    .account_links >div {
    	width: 50%;
    	height:60px;
        color:#333;
        padding:5px;        
        float:left;
        text-align: center;
    }

	/*.account_links >div:first-child {
		border-right: 3px solid #90C32E;
	}*/

.search_container {
    width:85%;
    width:calc(100% - 140px);

}

.search input[type="submit"]{
    width:70px; 
    height:60px;
    background:#90C32E;
    border:none;
    border-radius: 0px;
    font-family: fontAwesome;
    font-weight: bold;
    font-size: 1.75em;
    color: #ffffff;
    vertical-align: super;
    margin:0;
    font-style: normal;    
}

.search input[type='search'] {
	width:95%;
    width:calc(100% - 70px); 
    height:60px;
    font-size: 1.3em;
    border-right:1px solid #90C32E;
    background-color: #e5e5e5;
    border-radius: 0;
    border:none;
    margin:0;
}

.search input {
    float:left;
}

#spinCog:hover {
    -webkit-animation:fa-spin 2s infinite linear;
    animation:fa-spin 2s infinite linear;
}

.item_display{
    padding: 20px;
    float: left;
    width: 50%;
}







/*---------------------------------------------*\
		USER AND EMPLOYEE DASHBOARD
\*---------------------------------------------*/

#chart_container {
	width:100%;
	max-width: 900px;
	margin:0 auto;
}

.claims_dashboard {
	text-align: left;
}

.claims_dashboard p {
	padding-bottom: 15px;
}

.claims_dashboard a {
	color: #333;
}



.half_dashboard {
	 border: 2px solid rgba(245,245,245,0.5);
	 background: rgba(245,245,245,0.3);
	 border-radius:10px;
	 width:49%;
	 float:left;
	 margin-bottom: 25px;
	 padding: 30px;
	 margin-right: 0%;
	 min-height: 400px;
}
	.half_dashboard:nth-of-type(2){
		margin-right: 2%;
	}


.stats {
    width: 100%; 
/*    width: 30%; */
    float: left;
	margin-bottom: 25px;
	margin-right: 5px;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid rgba(245,245,245,0.99);
    background: rgba(245,245,245,0.7);
/*	text-align: center;*/
    /*min-height: 275px;*/
}
	.stats:nth-of-type(3){
/*		margin-right: 0;*/
	}

.stats a { 
/*    color: #90C32E;*/
}

.activity a { 
    color: #90C32E;
}

.one-third {
    width: 25%;
	float: left;
	margin-bottom: 15px;
    text-align: left;
}





/*---------------------------------------------*\
		INVENTORY PAGE STYLING
\*---------------------------------------------*/
.form_blocks {
	float:left;
}
	.form_blocks:nth-of-type(1) {
		width:70%;
		margin-right: 4%;
	}

	.form_blocks:nth-of-type(2) {
		width:25%;
	}


/*ITEM DETAILS IMAGE GALLERY*/
.gallery{
    /*margin: 5px;*/
    padding: 20px 0;
    max-width: 1300px;
    width:100%;
    text-align: center;
    /*overflow: hidden;*/
}

	.gallery > div {
		float:left;
		width:200px;
		min-height:200px;
		height:auto;
		
	}

.img_edit {
	text-align: right;
	padding-left:10px;
}

.img_container {
	width:150px;
	height:150px;
	overflow: hidden;
	margin:0 auto 10px;
	border:1px solid #eee;
}

.thumbnail {
	width:150px;
}



/*---------------------------------------------*\
	ITEM DETAILS, INVENTORY, CLAIMS CONTAINERS
\*---------------------------------------------*/

.notes_container{
    /* Used in 'claim_details.php' in multiple places */
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0;
    background: #fff;
}

/*inventory page, item title styling*/
.notes_container a, .grid_container a{
	text-transform: capitalize;
	font-weight: 600;
	font-size: 1.2em;
}

	/*li styling on rooms page, items listed in each room*/
	.notes_container ul li a{
		font-size: 1em;
		font-weight: 400;
		color:#333;
	}

	.notes_container ul li a:hover {
		color:orange;
	}


/*inventory page, room & category detail styling*/
.notes_container img, .grid_container img {
	max-width: 75px;
}


.grid_container {
	border: 2px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0;
    float:left;
    width:48%;
    min-height: 200px;
}

	.grid_container:nth-of-type(even) {
		margin-right: 4%;
	}


	.item_content {
		width:70%;
		float:left;
	}
	.item_img_content {
		width:30%;
		float:right;
		text-align: right;
	}







.inventory_search {
	clear:both;
}

.inventory_search fieldset{
	float:left;
	width:35%;
	margin-right:5%;
}
.inventory_search fieldset:nth-of-type(3){
	margin-right:0;
	width:20%;	

}
	.inventory_search input {
		margin-top: 25px;
	}

.fa-plus-circle {
	color:#90C32E;
}



#edit_img_title {
    background: white;
    z-index: 9999;
    box-shadow: 0 5px 25px #000;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
}






/*---------------------------------------------*\
		CLAIMS PAGE STYLING
\*---------------------------------------------*/
.fake_status{
    text-align: center;
    background-color: #90C32E;
    border-radius: 25px;
    padding:15px 0;
    margin-bottom: 25px;
}

#current_status { 
    color: white; 
    font-weight: 900; 
    padding: 5px;  
}


#form_id li:not(.block){
 float:left;
 margin-right: 15px;
 width:175px;
}

/*FILE CLAIM SELECTING ITEMS*/
.select_container {
	max-height:400px;
	overflow-y:scroll;
	margin-bottom: 25px;
    padding-top: 20px;
    /*background: #fff;*/
}

.claim_filters {
	font-weight: 400;
	margin:25px 0;
	color:#333;
}
	.claim_filters a {
		color:#333;
	}

/*used for claims filter links*/
.claim_filters .current_link {
	color:#90C32E;
}







/*---------------------------------------------*\
		PROFILE PAGE AND COMPANY DETAILS
\*---------------------------------------------*/

.profile {
	max-width: 900px;
	width:100%;
	margin:0 auto 25px;
}

	.avatar {
		float: left;
		width:50%;
	}

	.profile_content {
		float:right;
		width:50%;
		word-wrap:break-word;
        padding: 20px;
    background: white;
        border-radius: 5px;
	}

	/*.profile_content a, .avatar a {
		margin-top: 15px;
	}*/


/*--------------------------------------------------*\
		EMPLOYEE PAGE STYLING
\*--------------------------------------------------*/
/*Employee styling*/
.employee_info a {
	color:#333;
	font-weight: 400;
}
.employee_content p {
	padding-top: 10px;
	padding-bottom: 10px;
}

.thumb_avatar {
	height:65px;
}




/*--------------------------------------------------*\
		RANDOM SHIT? That's what Kris will Assumes...
\*--------------------------------------------------*/


.half_div {
	float:left;
	width:48%;
    text-align: left;
}
	.half_div:first-child{
		margin-right: 4%;
	}

.half {
	float:left; 
	width: 50%;
	text-align: right;
	padding: 0 20px 10px 20px;
}

	.half:nth-of-type(2){
		text-align: left;
	}

.half_link, .chart_link {
	float:left;
	width:50%;
	margin:10px 0;
	font-weight: 600;
	font-size:1.2em;
	padding: 0 5px;
	text-align:left;
}

.chart_link {float: right;}

.half_link:nth-of-type(2), .chart_link:nth-of-type(2){
	text-align: right;
	font-size: 1.5em;
}

	.half_link a, .chart_link a {
		margin-right: 25px;
	}

.message_container {
	max-width: 900px;
}
.message_content{
	border-bottom:1px solid #ddd;
	/*background-color: #fdfdfd;*/
	/*border-radius: 10px;*/
	word-wrap:break-word;
	margin-bottom: 10px;
	padding-right:25px;
	padding-bottom: 15px;		
    clear: both;
}
	.message_container:nth-last-child(1) {
		border-bottom: 0;
	}

	.message_container p:first-child {
		font-weight: 400;
	}

.message { 
    background: #222; 
    border-radius: 5px; 
/*    color: antiquewhite;*/
    color: #90C32E;
    padding: 10px;
    margin-bottom: 10px;
}

.msg_left{ 
	float: left; 
	text-align: left;
	padding-right: 20px;
}
.msg_right{ 
	float: right;
 	text-align: right;
 	padding-left: 20px;
}

.sticky {
	background-color: #fafafa;
	max-width: 1300px;
	width:100%;
	position: fixed;
	bottom: 0;
}




.fa-2x {
    /* search bar icons in header */
    position:relative;
    top: 7px;
    width: 40px;
}

.fa-trash-o { color:firebrick;}
/*.fa-trash-o:hover { color:grey;}*/

  







#page_name { 
    position: relative; 
    top: -30px; left: 30px;
    font-weight: 900;
    font-size: 22px;
}


#page{margin-left: 300px; margin-top: 120px;}

footer{
    clear: both;
    position: absolute;
    bottom: 0;
} 
.center{
    margin: 0 auto;
    text-align: center;
}
  

.clearfix:after {
visibility: hidden;
display: block;
}

.clearfix {
	display: inline-block;
	clear:both;

}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
 

.claims_list{
    border: 1px solid #333;
    margin: 10px;
    padding: 20px;
}

.claims{
    margin-bottom: 20px;
    clear: both;
}

.claims h4 { margin: 0; margin-top: 20px; font-weight: 900; font-size: 1.1em;}


.temp{  position: relative;
  left: -210px;
  width: 161%;}

.alert_container {
	position: relative;
}

.claim_alert{    
    color: #333;
    border:2px solid #90C32E;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    padding: 3px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right:-35px;
    display:inline-block;
    font-size: .7em;
    text-align: center;   
}


.claim_alert_client{
    
    color: #333;
    border:2px solid #90C32E;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    padding: 3px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right:-35px;
    font-size: .7em;
    text-align: center;
   
}



/*.circle_charts{width: 99%}*/
.pie-chart{
	width: 50%;
	max-width: 900px;
    float: left;
}


#alerts{
/*    background: rgba(178,38,38,.2);*/
    background: rgba(144, 195, 38, 0.5);
    border-radius: 20px;
    padding: 30px;
}
#alerts a {
    color: firebrick;
}
#alerts a:hover {
    color: red;
}

#alerts h1 {
    color: darkred;
    
}

.alert_node{ padding: 5px;}
.alert_node:hover{
    background: rgba(0,0,0,0.1);
}

.clear{
    clear: both;
    margin: 10px;
}
 

.walkthrough{
    border: 1px solid red;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
    overflow: hidden;
}

#draft_container{
    margin: 20px;
    background: white;
    padding: 10px;
}

.fa-file-pdf-o {
	font-size: 155px;
}
/******************************
        /MEDIA QUERIES
*******************************/


@media(max-width: 1000px) {
    body{}
    nav{}
    
}

 
/*MOBILE DEVICES ONLY*/
@media only screen and (max-device-width: 800px) {
    body{}
    nav{}
 
}