body{
    font-size: 18px; 
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    padding: 250px;
    padding-top: 20px;
    color: #333;
}

h1,
h2,
/*h3,*/
h4, 
h5,
h6{color: #004800;}

h1{ font-size: 50px;  }
 
h3{
/*    headings */
    width: 100%;
    clear: both;
/*    background: rgba(154,179,35,1);*/
    background: #004800;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 0 50px 0;
    
    font-size: 26px;
    font-family: sans-serif;
}
h4{
/* subheadings */
    font-size: 26px;
}

h5{
/* sub-subheadings */
     font-size: 20px;
    width: 97%;
    margin: 0 auto;
    background: rgba(154,179,35,.4);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.panel{
    background: #90C32E;
    padding: 10px;
    border-radius: 10px;
}

.accent{background:#387929;
    padding: 10px;
    border-radius: 10px;
}





    .splash {padding-bottom: 200px;}
    .center{
        margin: 0 auto;
        text-align: center;
    }
    .left{float: left;}
    .right{float: left;}
    
    img{margin: 25px;}
    p { padding: 10px;
        line-height: 2.2;
    } 
    @media screen and (max-width: 1100px) {
    body {
        padding: 30px;;
    }
} 